<div class="container" id="container">
        <div class="form-container sign-in-container">
            <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                <h1>Sign In</h1>
                <div class="social-container">
                    <a target="_blank" class="social"><i class="fab fa-facebook" (click)="loginfb()"></i></a>
                </div>
                <span>or use your account</span>
                <input type="email" class="form-control" placeholder="Email" formControlName="email"/>
                <input type="password" class="form-control" placeholder="Password" formControlName="password"/>
                <button class="si" [disabled]="!loginForm.valid">Sign In</button>
            </form>
            <form [formGroup]="loginForm2" (ngSubmit)="login(loginForm2.value)">
                <span>or use your phone</span>
                <input type="text" class="form-control" placeholder="Phone" formControlName="phone"/>
                <button class="si si2" [disabled]="!loginForm2.valid">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To Keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Wanderer!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp" (click)="register()">Sign Up</button>
                </div>
            </div>
        </div>
    </div>